PATH_add bin
PATH_add tools
export BPF_CLANG=clang
export BPF_CFLAGS=""
export BPF_STRIP="llvm-strip-10"
export KUBECONFIG=$PWD/tmp/kube:$HOME/.kube/config
export TETRAPOD_DAEMON_CONFIG=$PWD/tmp/cniconfig.yaml
export NETCONFPATH=$PWD/tetracni/cni
export CNI_PATH=$PWD/bin
